<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NewsData</h1>


    <div class='heading_container'>
        <h1 class='blog_heading'>News</h1>
      </div>
      
      {% if news_list %}
      <div class="news_container">
        {% for news in news_list %}
        <div class="news_">
          <div>
            <img src="{{news.image}}"/>
          </div>
          <h3>{{news.title}}</h3>
          <p>{{news.author}}</p>
        </div>
        {% endfor %}
      </div>
      {% else %}
      
      <p id='error_message'>{{message}}</p>
      
      
      {% endif %}
      
      





</body>
</html>
